{{title}}
<br>
{{age >= 18 ? 'majeur' : 'mineur'}}
<br>
<div *ngIf="isSelected ; else show_empty">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus pariatur cumque dignissimos tenetur, eum eveniet perferendis aut nulla quo rem dolorum exercitationem ea. Veniam praesentium amet aperiam quasi? Similique, voluptate.
</div>
<ng-template #show_empty>
  empty state
</ng-template>
<br>
<div *ngIf="!isSelected">
  empty state
</div>
<table>
  <tr>
    <th>User Name</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of tab">
    <td>{{user.nom}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>
<br>
<div [ngSwitch]="etat">
  <b *ngSwitchCase="0">en Attente</b>
  <b *ngSwitchCase="1">Accepter</b>
  <b *ngSwitchCase="2">Refuser</b>
</div>
<br>
<input [value]="title" [disabled]="isSelected ? true : null"/>
<br>
<input [value]="title" (keyup)="fn($event)" />
